In [17]:
import numpy as np
import pandas as pd

In [18]:
df_train = pd.read_csv('Train.csv')
df_train.head()

,id_code,current_date,current_time,source_name,destination_name,train_name,target,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend
0,isfywypmkqqhyft,2016-07-27,08:05:51 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
1,mqsfxyvuqpbwomk,2016-07-27,08:06:11 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
2,alspwwtbdvqsgby,2016-07-27,08:08:57 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
3,szitxhhqduyrqpg,2016-07-27,08:09:08 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
4,krisdqzczivvwcp,2016-07-27,08:11:01 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False

In [25]:
column_x = list(df_train.columns)
column_x.remove('target')
column_y = 'target'
print(column_x)
print(column_y)

['id_code',
 'current_date',
 'current_time',
 'source_name',
 'destination_name',
 'train_name',
 'country_code_source',
 'longitude_source',
 'latitude_source',
 'mean_halt_times_source',
 'country_code_destination',
 'longitude_destination',
 'latitude_destination',
 'mean_halt_times_destination',
 'current_year',
 'current_week',
 'current_day',
 'is_weekend']